.footer {
  position: relative;
  padding: 0 $xxl-size;
  margin-top: $xl-size;
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: 0;
    padding-top: 2.5rem;
    flex-direction: column;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}

.footer-logo {
  width: 15rem;
  height: 6rem;
  object-fit: contain;
}

.footer-col-2 {
  padding: 3rem 0;
  text-align: center;

  @include mobile {
    flex-basis: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@include mobile {
  .footer-col-2 {
    width: 100%;
    margin: $s-size 0;
  }
}
